{% extends 'base.html.twig' %}

{% block title %}Listado de Clientes{% endblock %}

{% block body %}
<div class="container container-logo">
        <div class="text-center mt-3">
            <a href="{{ path('app_home') }}" class="navbar-brand">
                <img src="{{ asset('recursos/img/AMA-LOGO-RESORT.png') }}" alt="Logo de Mi Sitio" width="70px">
            </a>
        </div>
</div>

    <div class="container">
        <h1 class="titulo text-center mt-4">Listado de Clientes</h1>

        {% if usuarios is defined %}
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Fecha Nacimiento</th>
                        <th>Pais</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.Email }}</td>
                            <td>{{ usuario.Nombre }}</td>
                            <td>{{ usuario.Apellidos }}</td>
                            <td>{{ usuario.Fecha ? usuario.Fecha|date('Y-m-d') : '' }}</td>
                            <td>{{ usuario.Pais }}</td>
                            <td>
                                <a href="{{ path('app_usuario_show', {'id': usuario.id}) }}" class="btn btn-sm boton-mostrar">Mostrar</a>
                                <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}" class="btn btn-sm boton-editar">Editar</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">No se encontraron registros</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_usuario_new') }}" class="btn boton-nuevo d-block mx-auto mt-3">Nuevo cliente</a>

            <div class="text-center mt-4">
                <a href="{{ path('app_home') }}" class="btn boton-nuevo">Volver a la página principal</a>
            </div>


        {% endif %}
    </div>
{% endblock %}
