{% extends 'base.html.twig' %}

{% block title %}Filtrar Clientes{% endblock %}

{% block body %}
<div class="container container-logo">
    <div class="text-center mt-3">
        <a href="{{ path('app_home') }}" class="navbar-brand">
            <img src="{{ asset('recursos/img/AMA-LOGO-RESORT.png') }}" alt="Logo de Mi Sitio" width="70px">
        </a>
    </div>
</div>

<div class="container">
    <h1 class="titulo text-center mt-4">Filtrar Habitacion</h1>

    <form method="GET" action="{{ path('app_habitaciones_filtrar') }}">
        <div class="formulario mt-3 text-center">
            <label class="formulario mt-3 text-center" for="Nombre">Selecciona una Habitacion:</label>
            <select name="Nombre" id="Nombre" class="formulario mt-3 text-center" style="width: 100%;">
                <option value="">Todas las habitaciones</option> {# Opción por defecto #}
                {% for nombre in nombres %}
                    <option value="{{ nombre }}" {% if nombre == nombreSeleccionado %}selected{% endif %}>{{ nombre }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="text-center mt-4 btn boton-nuevo">Filtrar por habitacion</button>
        </div>
 
        <h2 class="titulo text-center mt-4">Habitaciones</h2>
                <div class="container mt-4">
            
                    <table class="table table-striped">
                        <thead class="text-center">
                            <tr>
                                <th>Nombre</th>
                                <th>Numero</th>
                                <th>Ocupantes</th>
                                <th>Clientes</th>
                                
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% for habitacion in habitaciones %}
                                <tr>
                                    <td>{{ habitacion.Nombre }}</td>
                                    <td>{{ habitacion.Numero }}</td>
                                    <td>{{ habitacion.Capacidad }}</td>

                                    <td>{% if habitacion.Usuario is not null %}
                                        {{ habitacion.Usuario.nombre }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

    </form>
</div>

 

<div class="text-center mt-4">
    <a href="{{ path('app_home') }}" class="btn boton-nuevo">Volver a la página principal</a>
</div>
{% endblock %}
