{% extends 'base.html.twig' %}

{% block title %}Habitaciones{% endblock %}

{% block body %}
    <div class="container">
        <!-- Título de la página -->
        <h1 class="titulo text-center mt-4">Habitaciones</h1>

        <!-- Tabla de Habitaciones -->
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Numero</th>
                    <th>Ocupantes</th>
                    <th>Clientes</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for habitacion in habitacions %}
                    <tr>
                        <td>{{ habitacion.Nombre }}</td>
                        <td>{{ habitacion.Numero }}</td>
                        <td>{{ habitacion.Capacidad }}</td>
                        <td>
                            {% if habitacion.Usuario is not null %}
                                {{ habitacion.Usuario.nombre }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app_habitacion_show', {'id': habitacion.id}) }}" class="btn boton-mostrar">Mostrar</a>
                            <a href="{{ path('app_habitacion_edit', {'id': habitacion.id}) }}" class="btn boton-editar">Editar</a>
                        </td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan="4">No se encontraron registros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botón de Nueva Habitación -->
        <div class="text-center mt-4">
            <a href="{{ path('app_habitacion_new') }}" class="btn boton-nuevo d-block mx-auto mt-3">Nueva Habitación</a>
        </div>
    </div>
{% endblock %}
