<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AMA Islantilla{% endblock %}</title>
        <link rel="icon" href="{{ asset('recursos/img/AMA-LOGO-RESORT.png') }}">
        {% block stylesheets %}
            <script src="https://kit.fontawesome.com/13798872ef.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{{ asset('recursos/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('recursos/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('recursos/style.css') }}">  
            <script src="{{ asset('recursos/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('recursos/funciones.js') }}"></script>
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
