{% extends 'base.html.twig' %}

{% block title %}Actividades Filtradas - {{ categoria }}{% endblock %}

{% block body %}
    <div class="container container-logo">
        <div class="text-center mt-3">
            <a href="{{ path('app_home') }}" class="navbar-brand">
                <img src="{{ asset('recursos/img/AMA-LOGO-RESORT.png') }}" alt="Logo de Mi Sitio" width="70px">
            </a>
        </div>
    </div>

    <div class="container">
        <!-- Título de la página -->
        <h1 class="titulo text-center mt-4">Actividades Filtradas - {{ categoria }}</h1>

            {% if actividades is not empty %}

                <table class="table table-striped mt-4">
                    <thead>
                        <tr>
                
                            <th>Nombre</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                                {% for actividad in actividades %}
                                <tr>
                                    <td>{{ actividad.Nombre }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('app_actividades_show', {'id': actividad.id}) }}" class="btn boton-mostrar">Mostrar</a>
                                        <a href="{{ path('app_actividades_show', {'id': actividad.id}) }}" class="btn boton-editar">Ver reservas</a>
                                    </td>
                                </tr>
                                
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                    </tbody>
                 </table>

    </div>

                {% else %}
                    <p class="text-center mt-4">No se encontraron actividades para esta categoría.</p>
                {% endif %}

    <div class="text-center mt-4">
                <a href="{{ path('app_home') }}" class="btn boton-nuevo">Volver a la página principal</a>
    </div>
{% endblock %}
