{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block body %}
    <div class="container">
        <!-- Título de la página -->
        <h1 class="titulo text-center mt-4">Actividades</h1>

       <table class="table table-striped mt-4">
            <thead>
                <tr>
                
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for actividade in actividades %}
                <tr>
                    
                    <td>{{ actividade.Nombre }}</td>
                    <td>{{ actividade.Categoria }}</td>
                    <td>
                        <a href="{{ path('app_actividades_show', {'id': actividade.id}) }}" class="btn boton-mostrar">Mostrar</a>
                        <a href="{{ path('app_actividades_edit', {'id': actividade.id}) }}" class="btn boton-editar">Editar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            <div class="text-center mt-4">
                <a href="{{ path('app_actividades_new') }}" class="btn boton-nuevo d-block mx-auto mt-3">Nueva Actividad</a>
            </div>
    </div>
{% endblock %}
