{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block body %}
    <h1>Actividades</h1>

    <table class="table">
        <thead>
            <tr>
               <!-- <th>Id</th> -->
                <th>Nombre</th>
                <th>Categoria</th>
                <!-- <th>FechaInicio</th> -->
                <!-- <th>FechaFin</th> -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for actividade in actividades %}
            <tr>
                <!-- <td>{{ actividade.id }}</td> -->
                <td>{{ actividade.Nombre }}</td>
                <td>{{ actividade.Categoria }}</td>
                <!-- <td>{{ actividade.FechaInicio ? actividade.FechaInicio|date('Y-m-d') : '' }} </td> -->
                <!-- <td>{{ actividade.FechaFin ? actividade.FechaFin|date('Y-m-d') : '' }} </td> -->
                <td>
                    <a href="{{ path('app_actividades_show', {'id': actividade.id}) }}">Mostrar</a>
                    <a href="{{ path('app_actividades_edit', {'id': actividade.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_actividades_new') }}">Nueva Actividad</a>
{% endblock %}
