{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block body %}
    <h1>Actividades</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actividade.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ actividade.Nombre }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ actividade.Categoria }}</td>
            </tr>
            <tr>
                <th>FechaInicio</th>
                <td>{{ actividade.FechaInicio ? actividade.FechaInicio|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FechaFin</th>
                <td>{{ actividade.FechaFin ? actividade.FechaFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_actividades_index') }}">back to list</a>

    <a href="{{ path('app_actividades_edit', {'id': actividade.id}) }}">edit</a>

    {{ include('actividades/_delete_form.html.twig') }}
{% endblock %}
